@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Priority Dogs</h1>
    <h2>Uw hond onze prioriteit.</h2>

    <h4>Priority Dogs.. Wat is dat?</h4>
    <h5>@ViewBag.Message</h5>
    <h6>@ViewBag.Message</h6>

    <p> building Web apps with <a href="https://www.linkedin.com/in/hella-de-ridder-885795a3/"></a>HCyber</p>
</div>
