@{
    ViewData["Title"] = "AboutUs";
}
<h1>@ViewData["Title"]</h1>

<p>Tot Slot!</p>
<p>@ViewBag.Message</p>
<p> building Web apps with <a href="https://www.linkedin.com/in/hella-de-ridder-885795a3/"></a>HCyber</p>