@model PriorityDogs.Models.AfsprakenModel

<hr />

<div class="text-center">
    <h2>Afspraak maken</h2>
    <p>Indien uw gekozen data beschikbaar is zult u een reactie ontvangen. Indien dit niet mogelijk is zal u een reactie ontvangen met een voorstel voor andere datum.</p>
    <h5>Indien u een spoedeisende vraag heeft graag bellen indien mogelijk</h5></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DogOwnerName" class="control-label"></label>
                <input asp-for="DogOwnerName" class="form-control" />
                <span asp-validation-for="DogOwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhone" class="control-label"></label>
                <input asp-for="MobilePhone" class="form-control" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StressLevel" class="control-label"></label>
                <input asp-for="StressLevel" class="form-control" />
                <span asp-validation-for="StressLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StressLevels" class="control-label"></label>
                <input asp-for="StressLevels" class="form-control" />
                <span asp-validation-for="StressLevels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
